<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>description</key>
        <string>Dogma is the policy description language of &lt;a href="https://github.com/seedwing-io/"&gt;Seedwing&lt;/a&gt;</string>
        <key>name</key>
        <string>dogma</string>
        <key>uuid</key>
        <string>2064F997-0BCD-42D2-B72F-92AF0EDE1C80</string>
    </dict>
</plist>
